article {
  width: 200px;
  height: 200px;
  padding: 10px;
  position: relative;

  color: #ddd;
  background-color: #ed145b;
  box-shadow: 2px 2px 10px #00000099;
}

article p:first-child {
  font-size: 14px;
  margin-bottom: 10px;
}

article .note-text {
  height: 65%;
} 

article .icons-container {
  position: relative;
}

article .material-icons {
  bottom: 5px;
  right: 5px;

  font-size: 32px;
  cursor: pointer;
  transition: 0.2s;
  float: right;
}

article .material-icons:hover {
  color: #333;
  transform: scale(1.1);
  transform: rotate(360deg);
}

article .edit-text {
  resize: none;
  outline: none;
  height: 65%;
  background-color: #764455;
  color: rgb(235, 222, 222);
  font-size: medium;

}

#priority {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: -moz-fit-content;
  width: fit-content;
}
