<aside>
  <img [src]="logoImage" />
  <h1>{{title}}</h1>
  <form id="form-notes" 
      [formGroup]="checkoutForm" (submit)="sendNote()">
    <div class="input-group">
      <label>Nota:</label>
      <textarea
        type="text"
        id="input-cpf"
        formControlName="textNote"
        required
        placeholder="Digite a nota"
      ></textarea>
      <div *ngIf="textNote?.touched">
        <div class="errors" *ngIf="textNote?.errors?.['required']">
          Este campo é obrigatório
        </div>
        <div class="errors" *ngIf="textNote?.errors?.['minlength']">
          Precisa ter no mínimo 5 caracteres
        </div>
      </div>
    </div>
    <button [disabled]="!checkoutForm?.valid">Salvar</button>
  </form>
</aside>
