* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bgSecondary);
}

:root {
  --bgPrimary: #c7c5c5;
  --bgSecondary: #333;
  --primary: #ed145b;
  --text: #ddd;
}

button {
  width: 90%;
  margin-top: 10px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #ed145b;
  color: #ed145b;

  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ed145b;
  color: #e9e9e9;
}

app-home {
  display: flex;
}
